.App {
  text-align: center;
}

body {
  background-color: #374D44;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.attendance-container {
  background-color: #E5F4F4;
}

.assessment-container {
  background-color: #BD9E8A;
}

.assessment-container .background-image {
  width: 40%;
  height: 10%;
  object-fit: cover;
}

.cute-button {
  background-color: #80C2D0;
  color: white;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.cute-button:hover {
  background-color: #6297a3;
  color: white;
}

.cute-button:focus {
  outline: none;
  background-color: #a8d6d6;
}

.form-group {
  margin-bottom: 10px;
}

label {
  margin-top: 20px;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333333;
}

input[type="date"],
input[type="text"] {
  width: 19%;
  padding: 8px;
  border: 1px solid #6297a3;
  border-radius: 5px;
  background-color: #b3e6e6;
  color: #333333;
  font-size: 14px;
  transition: border-color 0.3s ease;
}


input[type="date"]:focus,
input[type="text"]:focus {
  outline: none;
  border-color: #a8d6d6;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.table-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}


table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

/*Assessment*/

.assessment-cute-button {
  background-color: #634f42;
  color: white;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.assessment-cute-button:hover {
  background-color: #59473b;
  color: white;
}

.assessment-container input[type="date"],
.assessment-container input[type="text"] {
  width: 19%;
  padding: 8px;
  border: 1px solid #d8cdc5;
  border-radius: 5px;
  background-color: #d8cdc5;
  color: #333333;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.assessment-container input[type="date"]:focus,
.assessment-container input[type="text"]:focus {
  outline: none;
  border-color: #59473b;
}

.assessment-table{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/*Feedback*/

.feedback {
  width: 100%;
  height: 100%;
}

.feedback img {
  width: 40%;
  margin-right: 40px;
  margin-top: 100px;
}

.feedback input[type="date"],
.feedback input[type="text"] {
  width: 19%;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  color: #333333;
  font-size: 14px;
  transition: border-color 0.3s ease;
}


.feedback input[type="date"]:focus,
.feedback input[type="text"]:focus {
  outline: none;
  border-color: #a8d6d6;
}

.fetch-feedback-button {
  background-color: #3a4747;
  color: white;
  border: none;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.fetch-feedback-button:hover {
  background-color: #f6f5f5;
  color: #3a4747;
}

.feedback-cards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  gap: 20px;
  margin: 0 20px; 
}

.feedback-card {
  background-color: rgba(255, 255, 255, 0.6); 
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.feedback-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.6); /* Adjust the opacity value as needed */
  background-image: url("https://img1.picmix.com/output/stamp/normal/3/8/5/9/1989583_0ef5d.gif");
}


.feedback-text {
  font-size: 16px;
  color: #333333;
}

.feedback-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/*Home*/

.home {
  background-color: #374d44;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.logout-button {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #f2f2f2;
  opacity: 0.3;
  border: none;
  background-color: transparent;
  font-size: 12px;
}

.logout-button:hover {
  opacity: 1;
  cursor: pointer;
}

.card {
  width: 300px;
  height: 300px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: transform 1.05s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-content {
  padding: 10px;
}

/*Login*/
.login {
  background-color: #374d44;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.logincard {
  display: none;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  opacity: 60%;
}

.logincard {
  display: none;
  animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.logincard.show {
  display: block;
}

.logincard img {
  max-width: 100%;
  border-radius: 10px;
}

.logincard .card-content {
  margin-top: 10px;
}

.logincard h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.logincard p {
  font-size: 14px;
  color: #777;
}

.login input[type="password"],
.login input[type="text"] {
  width: 19%;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  color: #333333;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.login button {
  width: 19%;
  margin-left: 10px;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  color: #333333;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.login button:hover {
  background-color: #374D44;
  color: white;
}

/*Misc*/

.unauth {
  background: #374D44;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}
.error__wrapper {
  text-align: center;
}
.error__wrapper h1 {
 text-align: center;
 display: flex;
align-items: center;
justify-content: center;
  font-size: 5rem;
  color: #fff;
  margin: 0;
}

.error__wrapper h1,
.error__wrapper p {
  color: #fff;
}

.error__wrapper p {
  font-size: 1.5rem;
  margin-top: 0;
}
.error__wrapper img {
  max-width: 130px;
}

.error__wrapper a {
  background: #fff;
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 0.5rem;
  border-radius: 20px;
  font-size: 0.875rem;
  margin-top: 3rem;
  transition: 0.3s all ease-in;
  border:1px solid #fff;
}

.error__wrapper a:hover {
  background: #000;
  color: #fff;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 9999;
  opacity: 0.9;
  background-image: url("https://i.pinimg.com/originals/03/9d/22/039d2254b392f492ecda534bd7a848f3.gif");
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  /* Add any additional styles to make the close button cute */
}
